.container {
    --bs-offcanvas-width: 100%;
    .offcanvas-header {
        padding: 20px;
    }
}
// Header
.heading {
    font-weight: 600;
    font-size: 2rem;
}

.close-btn {
    padding: 6px 15px;
    font-size: 2rem;
}

// Body 

.body {
    padding: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not-login {
    flex: 1;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .notification {
        text-align: center;
        margin-bottom: 15px;
    }
    .navigate-login-btn {
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        border-radius: 20px;
        border: 1px solid var(--login-color);
        color: var(--white-text-color);
        background-color: var(--login-color);
        transition: var(--primary-transition);
        &:hover {
            color: var(--login-color);
            background-color: #ffffff;
        }

    }
}
.cart-list {
    flex: 1;
    padding: 10px 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & ~ .cart-item {
        margin-top: 10px;
    }
}


.item-info {
    display: flex;
    align-items: center;

}

.item-image {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item-detail {
    max-width: 220px;
}

.item-name {
    max-width: 220px;
    font-size: 1.6rem;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-price {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}   
.item-quantity {
    display: flex;
    align-items: center;
    span {
        padding: 0 10px;
        font-size: 1.4rem;
    }
    .change-qtt-btn {
        width: 25px;
        height: 25px;
        background-color: var(--button-bg-color);
        border-radius: 5px;
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.delete-btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        transition: var(--primary-transition);
    }
}

// Oder-Information

.oder-info {
    box-shadow:  rgba(0, 0, 0, 0.12) 0px -12px 30px;
    position: relative;
}

.toggle-btn {
    width: 100px;
    height: 6px;
    border-radius: 5px;
    background-color: #c1c1c1;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.oder-details {
    max-height: 0;
    padding: 15px 25px 0px;
    overflow-y: hidden;
    transition: max-height 0.5s ease-in;
    &.show {
        max-height: 100px;
    }
    &.hide {
        max-height: 0px;
    }
    .detail-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;
    }
    .label, .value {
        font-size: 1.4rem;
    }
}

.oder-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    margin: 15px 0;
}

.total-label {
    font-size: 1.8rem;
    font-weight: 600;
}

.total-num {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primary-color);
}

// Action buttons 

.action-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.action-btn {
    min-width: 160px;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--primary-transition);
}

.getmore-btn {
    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-transition);
    }
}

.checkout-btn {
    color: var(--white-text-color);
    background-color: var(--primary-color);
    &:hover {
        color: var(--primary-color);
        background-color: #ffffff;
        border-color: var(--primary-transition);
    }
}

.btn-icon {
    margin-right: 5px;
}

@media (min-width: 769px) {
    .container {
        --bs-offcanvas-width: 400px;
    }
}