.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inner {
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.header { 
    text-align: center;
    margin-bottom: 30px;
    .widget {
        display: inline-block;
        height: 25px;
        font-size: 1.4rem;
        line-height: 25px;
        padding: 0 30px;
        color: var(--white-color);
        background-color: var(--primary-color);
        clip-path: polygon(13% 0,100% 0,87% 100%,0 100%);
    }
    .name {
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.5;
    }
}

.menu {
    width: 100%;
    margin: auto;
}

.all-products-btn {
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    &:hover {
        transform: translateX(-50%) translateY(-3px);
    }
}
