.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cecece;
    & ~ .product {
        margin-top: 10px;
    }
}

.product-info {
    display: flex;
    align-items: center;
    .product-image {
        width: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
    }
    .product-detail {
        margin-left: 20px;
        .product-name {
            font-size: 2rem;
            font-weight: 600;
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .product-price {
            font-size: 1.8rem;
            font-weight: 700;
            color: var(--primary-color);
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.add-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .quantity {
        height: 35px;
        font-size: 1.6rem;
        border-radius: 20px;
        border: 1px solid #b5b5b5;
        overflow: hidden;
        position: relative;
        .quantity-btn {
            position: absolute;
            top: 0;
            width: 38px;
            height: 100%;
            color: var(--blur-text-color);
            &:hover {
                color: var(--primary-color);
            }
            &.decrease {
                left: 0;
            }
            &.increase {
                right: 0;
            }
        }
        .quantity-input {
            width: 120px;
            height: 100%;
            padding: 0 38px;
            text-align: center;
            background: none;
            border: none;
        }
    }
    .add-cart-btn {
        font-size: 1.5rem;
        height: 35px;
        width: 120px;
        border-radius: 35px;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        transition: var(--primary-transition);
        &:hover {
            color: var(--white-color);
            background-color: var(--primary-color);
        }
    }
}

.remove-btn {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--button-bg-color);
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
        transition: var(--primary-transition);
    }
}

.toast-product-name {
    font-weight: 500;
    color: var(--warning-color);
    &.success {
        color: var(--success-color);
    }
}
.toast-list-name {
    font-weight: 500;
    color: var(--primary-color);
}