.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    color: var(--primary-color);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-primary::after {
    background-color: var(--primary-color);
}

.btn-outline {
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

.btn-outline::after {
    background-color: transparent;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    background-color: var(--white-color);
    opacity: 0;
}

