.container {
    padding-top: 150px;
    padding-bottom: 80px;
    background: url('../../../assets/images/products-nav-bg.jpg') no-repeat center;
    background-size: cover;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 6rem;
    margin-bottom: 15px;
    text-align: center;
}

.breadscrum {
    margin-bottom: 25px;
    .link {
        color: var(--blur-text-color);
        &:hover {
            color: var(--primary-color);
        }
    }
}

.slider {
    width: 80%;
    color: var(--white-color);
}

.slide-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}
.slide-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--white-color);
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 10%);
    &:hover, &.active {
        color: var(--primary-color);
        border-color: var(--primary-color);
        transition: var(--primary-transition);
        &::before {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        & ~ .slide-name {
            color: var(--primary-color)
        }
    }
}
.slide-image {
    width: 100px;
    height: 100px;
    img {
        object-fit: contain;
    }
}
.slide-name {
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .slider {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .slider {
        width: 60%;
        color: var(--primary-text-color);
    }
}




