.container {
    padding: 0 7.5px;
    font-weight: 400;
    color: var(--blur-text-color);
}

.block {
    margin-bottom: 30px;
    .heading {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: var(--primary-text-color);
    }
    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover, &.active {
            color: var(--primary-color);
        }
        
        & ~ .item {
            margin-top: 10px;
        }
        .title {
            font-size: 1.5rem;
        }
        .count {
            width: 25px;
            height: 25px;
            font-size: 1.4rem;
            background-color: #f1f1f1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}

.rating-radio-input {
    cursor: pointer;
}
.rating-radio-label {
    color: #f7cd01;
    cursor: pointer;
}

.price-filter-container {
    width: 100%;
    margin-bottom: 15px;
}

.price-filter {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: var(--primary-text-color);
    color: var(--primary-text-color);
    outline: none; 
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.price-filter::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 50%;
    background: var(--white-color);
    cursor:ew-resize;
}
  
.price-filter::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 50%;
    background: var(--white-color);
    cursor:ew-resize;
}

.price {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.clear-filters {
    height: 37px;
    padding: 0 15px;
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0.3;
    &.active {
        opacity: 1;
    }
}
