.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.inner {
    width: 1200px;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 25px var(--login-color);
    display: flex;
    align-items: center;
}

.hero {
    display: none;
    width: 55%;
    height: 100%;
    background-image: url(../../assets/images/login-page-bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
    text-align: center;
    padding: 70px 30px;
    color: var(--primary-text-color);
}

.back-home-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    color: var(--primary-color);
}

@media (min-width: 769px) {
    .hero {
        display: block;
    }
    .content {
        width: 45%;
        text-align: unset;
        padding: 70px 50px 70px 30px;
    }
}