.container {
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;

}


.reviewer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .avatar {
        width: 60px;
        height: 60px;
    }
    .details {
        padding-left: 15px;
        .name {
            font-size: 1.4rem;
            line-height: 1.5;
        }
        .time {
            font-size: 1.3rem;
            color: var(--blur-text-color);
        }
    }
}

.product-rating-star {
    color: var(--rating-star-color);
}

.comment {
    font-size: 1.5rem;
    font-weight: 400;
}